//
// Override global variables
//

// Theme colors
$primary:       									#489EE2;
$primary-hover:    									#0078D7;
$primary-light:    									#E1F0FF;
$primary-inverse:  									#FFFFFF;

// Border Radiues
$border-radius:            						    0.5rem;
