<!--begin::Aside-->
<!--suppress HtmlUnknownTarget -->
<div class="aside aside-left d-flex flex-column flex-row-auto" id="kt_aside">

  <!--begin::Aside Menu-->
  <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">

    <!--begin::Menu Container-->
    <div id="kt_aside_menu" class="aside-menu min-h-lg-800px" data-menu-vertical="1" data-menu-scroll="1"
         data-menu-dropdown-timeout="500">

      <!--begin::Menu Nav-->
      <ul class="menu-nav">
        <li class="menu-item" aria-haspopup="true">
          <a href="/" class="menu-link">
										<span class="svg-icon menu-icon"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo5\dist/../src/media/svg/icons\Home\Home.svg--><svg
                        xmlns="http://www.w3.org/2000/svg" width="24px"
                        height="24px" viewBox="0 0 24 24">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path
            d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z"
            fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span>
            <span class="menu-text">{{company_ko}} {{role_ko}} 웹조회시스템</span>
          </a>
        </li>
        <li class="menu-section" style="margin: 0;"></li>
        <li class="menu-item menu-item-submenu menu-item-swl" aria-haspopup="true" data-menu-toggle="hover">
          <a href="javascript:" class="menu-link menu-toggle">
										<span class="svg-icon menu-icon"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo5\dist/../src/media/svg/icons\Files\Group-folders.svg--><svg
                        xmlns="http://www.w3.org/2000/svg" width="24px"
                        height="24px" viewBox="0 0 24 24">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path
            d="M4.5,21 L21.5,21 C22.3284271,21 23,20.3284271 23,19.5 L23,8.5 C23,7.67157288 22.3284271,7 21.5,7 L11,7 L8.43933983,4.43933983 C8.15803526,4.15803526 7.77650439,4 7.37867966,4 L4.5,4 C3.67157288,4 3,4.67157288 3,5.5 L3,19.5 C3,20.3284271 3.67157288,21 4.5,21 Z"
            fill="#000000" opacity="0.3"/>
        <path
            d="M2.5,19 L19.5,19 C20.3284271,19 21,18.3284271 21,17.5 L21,6.5 C21,5.67157288 20.3284271,5 19.5,5 L9,5 L6.43933983,2.43933983 C6.15803526,2.15803526 5.77650439,2 5.37867966,2 L2.5,2 C1.67157288,2 1,2.67157288 1,3.5 L1,17.5 C1,18.3284271 1.67157288,19 2.5,19 Z"
            fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span>
            <span class="menu-text">수치지형도</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="far fa-building icon-lg text-primary"></i>
                  </i>
                  <span class="menu-text ml-2">건물 및 도로</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-geo fas fa-lock text-primary" id="n3a_a0010000"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="fas fa-mountain" style="color: #0BB7AF"></i>
                  </i>
                  <span class="menu-text ml-2">표고점</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-geo fas fa-times-circle text-danger"
                       id="n3p_f0020000"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <!--<li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="fas fa-border-style icon-lg" style="color: #0000a0"></i>
                  </i>
                  <span class="menu-text ml-2">지적선 및 지번</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-geo fas fa-times-circle text-danger"
                       id="geo_line_as"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>-->
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="fas fa-border-style icon-lg" style="color: #ff5252"></i>
                  </i>
                  <span class="menu-text ml-2">법정동 경계</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl fas fa-times-circle text-danger"
                       id="viw_bml_badm_as"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="fas fa-border-style icon-lg" style="color: #aa00ff"></i>
                  </i>
                  <span class="menu-text ml-2">행정동 경계</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl fas fa-times-circle text-danger"
                       id="viw_bml_hadm_as"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-section">
          <h4 class="menu-text">하수도</h4>
          <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
        </li>
        <li class="menu-item menu-item-submenu menu-item-swl" aria-haspopup="true" data-menu-toggle="hover">
          <a href="javascript:" class="menu-link menu-toggle">
										<span class="svg-icon menu-icon"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo5\dist/../src/media/svg/icons\Files\Group-folders.svg--><svg
                        xmlns="http://www.w3.org/2000/svg" width="24px"
                        height="24px" viewBox="0 0 24 24">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path
            d="M4.5,21 L21.5,21 C22.3284271,21 23,20.3284271 23,19.5 L23,8.5 C23,7.67157288 22.3284271,7 21.5,7 L11,7 L8.43933983,4.43933983 C8.15803526,4.15803526 7.77650439,4 7.37867966,4 L4.5,4 C3.67157288,4 3,4.67157288 3,5.5 L3,19.5 C3,20.3284271 3.67157288,21 4.5,21 Z"
            fill="#000000" opacity="0.3"/>
        <path
            d="M2.5,19 L19.5,19 C20.3284271,19 21,18.3284271 21,17.5 L21,6.5 C21,5.67157288 20.3284271,5 19.5,5 L9,5 L6.43933983,2.43933983 C6.15803526,2.15803526 5.77650439,2 5.37867966,2 L2.5,2 C1.67157288,2 1,2.67157288 1,3.5 L1,17.5 C1,18.3284271 1.67157288,19 2.5,19 Z"
            fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span>
            <span class="menu-text">하수 관로</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
              <li class="menu-item menu-item-parent" aria-haspopup="true">
												<span class="menu-link">
													<span class="menu-text">하수 관로</span>
												</span>
              </li>
              <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="ki ki-dots icon-lg" style="color: #489EE2;"></i>
                  </i>
                  <span class="menu-text ml-2">하수관로</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_pipe_lm"></i>
                  </span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="menu-submenu">
                  <i class="menu-arrow"></i>
                  <ul class="menu-subnav">
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <i class="ki ki-minus icon-lg" style="color: #0045ff;"></i>
                        </i>
                        <span class="menu-text ml-2">우수관</span>
                        <!--                                <i class="icon-md ki-bold   <span class="menu-label">-->
                        <!--               -check-1 text-primary ol-table-code ol-table-code-swl"></i>-->
                        <!--                        </span>-->
                      </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <i class="ki ki-minus icon-lg" style="color: #ff5252;"></i>
                        </i>
                        <span class="menu-text ml-2">오수관</span>
                        <!--                        <span class="menu-label">-->
                        <!--                          <i class="ol-table-code ol-table-code-swl"></i>-->
                        <!--                        </span>-->
                      </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <i class="ki ki-minus icon-lg" style="color: #7b7bc0;"></i>
                        </i>
                        <span class="menu-text ml-2">차집관</span>
                        <!--                        <span class="menu-label">-->
                        <!--                          <i class="ol-table-code ol-table-code-swl"></i>-->
                        <!--                        </span>-->
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="ki ki-minus icon-lg" style="color: #ff9100;"></i>
                  </i>
                  <span class="menu-text ml-2">연결관</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_conn_ls"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="ki ki-minus icon-lg" style="color: #ffff00;"></i>
                  </i>
                  <span class="menu-text ml-2">면형관</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_pipe_as"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="ki ki-minus icon-lg" style="color: #40e0d0;"></i>
                  </i>
                  <span class="menu-text ml-2">측구</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_side_ls"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item menu-item-submenu menu-item-swl" aria-haspopup="true" data-menu-toggle="hover">
          <a href="javascript:" class="menu-link menu-toggle">
										<span class="svg-icon menu-icon"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo5\dist/../src/media/svg/icons\Files\Group-folders.svg--><svg
                        xmlns="http://www.w3.org/2000/svg" width="24px"
                        height="24px" viewBox="0 0 24 24">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path
            d="M4.5,21 L21.5,21 C22.3284271,21 23,20.3284271 23,19.5 L23,8.5 C23,7.67157288 22.3284271,7 21.5,7 L11,7 L8.43933983,4.43933983 C8.15803526,4.15803526 7.77650439,4 7.37867966,4 L4.5,4 C3.67157288,4 3,4.67157288 3,5.5 L3,19.5 C3,20.3284271 3.67157288,21 4.5,21 Z"
            fill="#000000" opacity="0.3"/>
        <path
            d="M2.5,19 L19.5,19 C20.3284271,19 21,18.3284271 21,17.5 L21,6.5 C21,5.67157288 20.3284271,5 19.5,5 L9,5 L6.43933983,2.43933983 C6.15803526,2.15803526 5.77650439,2 5.37867966,2 L2.5,2 C1.67157288,2 1,2.67157288 1,3.5 L1,17.5 C1,18.3284271 1.67157288,19 2.5,19 Z"
            fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span>
            <span class="menu-text">하수 시설</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
              <li class="menu-item menu-item-parent" aria-haspopup="true">
												<span class="menu-link">
													<span class="menu-text">하수 시설</span>
												</span>
              </li>
              <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="ki ki-dots icon-lg" style="color: #489EE2;"></i>
                  </i>
                  <span class="menu-text ml-2">하수맨홀</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_manh_ps"></i>
                  </span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="menu-submenu">
                  <i class="menu-arrow"></i>
                  <ul class="menu-subnav">
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <img alt="" src="assets/media/symbols/SB101_0.png">
                        </i>
                        <span class="menu-text ml-2">오수맨홀</span>
                      </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <img alt="" src="assets/media/symbols/SB101_4.png">
                        </i>
                        <span class="menu-text ml-2">우수맨홀</span>
                      </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <img alt="" src="assets/media/symbols/SB101_6.png">
                        </i>
                        <span class="menu-text ml-2">집수맨홀</span>
                      </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <img alt="" src="assets/media/symbols/SB101_5.png">
                        </i>
                        <span class="menu-text ml-2">차집맨홀</span>
                      </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <img alt="" src="assets/media/symbols/SB101_7.png">
                        </i>
                        <span class="menu-text ml-2">합류맨홀</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="ki ki-dots icon-lg" style="color: #489EE2;"></i>
                  </i>
                  <span class="menu-text ml-2">물받이</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_spot_ps"></i>
                  </span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="menu-submenu">
                  <i class="menu-arrow"></i>
                  <ul class="menu-subnav">
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <img alt="" src="assets/media/symbols/SB102_3.png">
                        </i>
                        <span class="menu-text ml-2">오수받이</span>
                      </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <img alt="" src="assets/media/symbols/SB102_2.png">
                        </i>
                        <span class="menu-text ml-2">우수받이</span>
                      </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <img alt="" src="assets/media/symbols/SB1022.png">
                        </i>
                        <span class="menu-text ml-2">우수받이 (환경사업소)</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <!--                    <i class="ki ki-minus icon-lg" style="color: transparent;"></i>-->
                    <img alt="" src="assets/media/symbols/SB200.png">
                  </i>
                  <span class="menu-text ml-2">하수처리장</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_dran_ps"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <!--                    <i class="ki ki-minus icon-lg" style="color: transparent;"></i>-->
                    <img alt="" src="assets/media/symbols/SB210_2.png">
                  </i>
                  <span class="menu-text ml-2">하수펌프장</span>
                  <span class="menu-label">
                      <i class="ol-table-code ol-table-code-swl" id="viw_swl_pump_ps"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <!--                    <i class="ki ki-minus icon-lg" style="color: transparent;"></i>-->
                    <img alt="" src="assets/media/symbols/SB103.png">
                  </i>
                  <span class="menu-text ml-2">우수토실</span>
                  <span class="menu-label">
                      <i class="ol-table-code ol-table-code-swl" id="viw_swl_clay_ps"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <!--                    <i class="ki ki-minus icon-lg" style="color: transparent;"></i>-->
                    <img alt="" src="assets/media/symbols/SB100.png">
                  </i>
                  <span class="menu-text ml-2">역사이펀</span>
                  <span class="menu-label">
                      <i class="ol-table-code ol-table-code-swl" id="viw_swl_rsph_ps"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <!--                    <i class="ki ki-minus icon-lg" style="color: transparent;"></i>-->
                    <img alt="" src="assets/media/symbols/SB410.png">
                  </i>
                  <span class="menu-text ml-2">환기구</span>
                  <span class="menu-label">
                      <i class="ol-table-code ol-table-code-swl" id="viw_swl_vent_ps"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <img alt="" src="assets/media/symbols/SB104.png">
                  </i>
                  <span class="menu-text ml-2">토구</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_spew_ps"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="ki ki-dots icon-lg" style="color: #489EE2;"></i>
                  </i>
                  <span class="menu-text ml-2">정화시설</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_tank_ps"></i>
                  </span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="menu-submenu">
                  <i class="menu-arrow"></i>
                  <ul class="menu-subnav">
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <img alt="" src="assets/media/symbols/SB950.png">
                        </i>
                        <span class="menu-text ml-2">정화조</span>
                      </a>
                    </li>
                    <li class="menu-item" aria-haspopup="true">
                      <a href="javascript:" class="menu-link">
                        <i class="menu-bullet">
                          <img alt="" src="assets/media/symbols/SB951.png">
                        </i>
                        <span class="menu-text ml-2">오수처리시설</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <img alt="" src="assets/media/symbols/RE003.png">
                  </i>
                  <span class="menu-text ml-2">보수공사</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_wtt_wutl_ht"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="ki ki-minus icon-lg" style="color: transparent;"></i>
                  </i>
                  <span class="menu-text ml-2">사용자주기</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_wtl_userlabel_ps"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item menu-item-submenu menu-item-swl" aria-haspopup="true" data-menu-toggle="hover">
          <a href="javascript:" class="menu-link menu-toggle">
										<span class="svg-icon menu-icon"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo5\dist/../src/media/svg/icons\Files\Group-folders.svg--><svg
                        xmlns="http://www.w3.org/2000/svg" width="24px"
                        height="24px" viewBox="0 0 24 24">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path
            d="M4.5,21 L21.5,21 C22.3284271,21 23,20.3284271 23,19.5 L23,8.5 C23,7.67157288 22.3284271,7 21.5,7 L11,7 L8.43933983,4.43933983 C8.15803526,4.15803526 7.77650439,4 7.37867966,4 L4.5,4 C3.67157288,4 3,4.67157288 3,5.5 L3,19.5 C3,20.3284271 3.67157288,21 4.5,21 Z"
            fill="#000000" opacity="0.3"/>
        <path
            d="M2.5,19 L19.5,19 C20.3284271,19 21,18.3284271 21,17.5 L21,6.5 C21,5.67157288 20.3284271,5 19.5,5 L9,5 L6.43933983,2.43933983 C6.15803526,2.15803526 5.77650439,2 5.37867966,2 L2.5,2 C1.67157288,2 1,2.67157288 1,3.5 L1,17.5 C1,18.3284271 1.67157288,19 2.5,19 Z"
            fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span>
            <span class="menu-text">하수 구역</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
              <li class="menu-item menu-item-parent" aria-haspopup="true">
												<span class="menu-link">
													<span class="menu-text">Pages</span>
												</span>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="fas fa-border-style icon-lg" style="color: #2ce5ba;"></i>
                  </i>
                  <span class="menu-text ml-2">배수구역</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_aodr_as"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="fas fa-border-style icon-lg" style="color: #ffc0cb;"></i>
                  </i>
                  <span class="menu-text ml-2">배수분구</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_dodr_as"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="fas fa-border-style icon-lg" style="color: #a84fac;"></i>
                  </i>
                  <span class="menu-text ml-2">처리구역</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_aodp_as"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
              <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover">
                <a href="javascript:" class="menu-link menu-toggle">
                  <i class="menu-bullet">
                    <i class="fas fa-border-style icon-lg" style="color: #ff1744;"></i>
                  </i>
                  <span class="menu-text ml-2">처리분구</span>
                  <span class="menu-label">
                    <i class="ol-table-code ol-table-code-swl" id="viw_swl_dodp_as"></i>
                  </span>
                  <i class="menu-arrow" style="color: transparent;"></i>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <!--end::Menu Nav-->
    </div>

    <!--end::Menu Container-->
  </div>

  <!--end::Aside Menu-->
</div>

<!--end::Aside-->
