<!--begin::Entry-->
<div class="d-flex flex-column-fluid mb-5" data-scroll="true">
  <!--begin::Container-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Card-->
        <div class="card card-custom card-fit card-border card-stretch" id="card_storage">
          <div class="card-body p-4">
            <form class="form" novalidate="novalidate">
              <div class="form-group row">
                <div class="col-lg-8" style="align-self: center;">
                  <div class="pl-4" style="margin-bottom: 0;">
                    <h6>
                      <i class="fas fa-cloud-download-alt icon-md mr-3"></i>파일 다운로드
                      <small>파일명을 클릭하여 다운로드하세요</small>
                    </h6>
                  </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-end align-content-center flex-wrap"
                     id="kt_datatable_storage_control">
                  <a href="javascript:;" class="btn btn-sm btn-outline-info border-0 font-weight-bolder"
                     id="kt_datatable_storage_search">
                    <i class="fas fa-search"></i> 검색
                  </a>
                  <a href="javascript:;" class="btn btn-sm btn-outline-danger border-0 font-weight-bolder ml-1"
                     id="kt_datatable_storage_clear">
                    <i class="fas fa-times"></i> 초기화
                  </a>
                  <a href="javascript:;" class="btn btn-sm btn-light btn-hover-danger border-0 font-weight-bolder ml-8"
                     id="kt_datatable_storage_delete">
                    <i class="fas fas fa-trash"></i> 삭제
                  </a>
                </div>
              </div>
            </form>
            <!--begin: Datatable-->
            <table class="table border rounded" id="kt_datatable_storage">
              <thead class="thead-color">
              <tr>
                <th>#</th>
                <th>파일명</th>
                <th>유형</th>
                <th>크기(KB)</th>
                <th>등록일자</th>
                <th>등록자</th>
                <th>파일상세</th>
                <th><!-- Button1 --></th>
              </tr>
              </thead>
            </table>
            <!--end: Datatable-->
          </div>
          <!--end::Form-->
        </div>
        <!--end::Card-->
      </div>
      <div class="col-md-6">
        <!--begin::Card-->
        <div class="card card-custom example example-compact card-fit card-border card-stretch">
          <!--begin::Form-->
          <form class="form" id="data_storage_form" novalidate="novalidate">
            <div class="card-body">
              <div class="form-group row">
                <div class="col-lg-8" style="align-self: center;">
                  <div class="pl-4" style="margin-bottom: 0;">
                    <h6>
                      <i class="fas fa-cloud-upload-alt icon-md mr-3"></i>파일 업로드
                      <small>
                        <span>파일 편집(</span>
                        <svg aria-hidden="true" focusable="false" class="uppy-c-icon" width="14" height="14"
                             viewBox="0 0 14 14">
                          <g fillRule="evenodd">
                            <path
                                d="M1.5 10.793h2.793A1 1 0 0 0 5 10.5L11.5 4a1 1 0 0 0 0-1.414L9.707.793a1 1 0 0 0-1.414 0l-6.5 6.5A1 1 0 0 0 1.5 8v2.793zm1-1V8L9 1.5l1.793 1.793-6.5 6.5H2.5z"
                                fillRule="nonzero"></path>
                            <rect x="1" y="12.293" width="11" height="1" rx=".5"></rect>
                            <path fillRule="nonzero" d="M6.793 2.5L9.5 5.207l.707-.707L7.5 1.793z"></path>
                          </g>
                        </svg>
                        <span>)으로 등록자 및 상세정보를 입력하세요</span>
                      </small>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-0">
                <div class="col-lg-12 mb-0">
                  <div class="uppy-storage-dashboard"></div>
                </div>
              </div>
            </div>
            <!--            <div class="card-footer">-->
            <!--              <div class="row justify-content-between">-->
            <!--                <div class="col-8">-->
            <!--                  <button type="submit" class="btn btn-primary mr-2">-->
            <!--                    <i class="la la-check-circle"></i> 등록-->
            <!--                  </button>-->
            <!--                  <button type="reset" class="btn b tn-secondary-outline">초기화</button>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
          </form>
          <!--end::Form-->
        </div>
        <!--end::Card-->
      </div>
    </div>
  </div>
  <!--end::Container-->
</div>
<!--<div class="footer py-4 d-flex flex-lg-column align-self-center" id="kt_footer">
  &lt;!&ndash;begin::Container&ndash;&gt;
  <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
    &lt;!&ndash;begin::Copyright&ndash;&gt;
    <div class="text-black-50">
      <span>※ 과도한 업로드 및 다운로드는 서버부하를 발생시킬 수 있습니다 ※</span>
    </div>
    &lt;!&ndash;end::Copyright&ndash;&gt;
  </div>
  &lt;!&ndash;end::Container&ndash;&gt;
</div>-->

<!--end::Entry-->
