// Modal

#kt_chat_modal {

  max-width: 515px;

  .card-header {
    font-size: 13px !important;
    min-height: 60px;

    .label {
      vertical-align: text-bottom;
    }
  }

  .card-body {
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 11px !important;
    padding: 0;
    font-weight: 400;
    text-rendering: optimizeLegibility;

    .table th {
      background:#1b1e24;
      white-space: nowrap;
      overflow: hidden;
      padding: 0.5rem 0.5rem;
      color:black;;
      background:#F0EDCC;
      border-bottom:4px solid #9ea7af;
      border-right: 1px solid #343a45;
      font-weight: 100;
      text-align:left;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      vertical-align:middle;
      width: 20px;
      height: 10px;
    }
    .table tr {
      border-top: 1px solid #C1C3D1;
      border-bottom-: 1px solid #C1C3D1;
      color:#666B85;
      font-weight:normal;
      text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
      width: 20px;
      height: 10px;
    }
    //tr:hover td {
    //  background:#F0EDCC;
    //  color:black;
    //  border-top: 1px solid #22262e;
    //}

    tr:first-child {
      border-top:none;
    }

    tr:last-child {
      border-bottom:none;
    }

    tr:nth-child(odd) td {
      background:#EBEBEB;
    }

    //tr:nth-child(odd):hover td {
    //  background:#F0EDCC;
    //}

    tr:last-child td:first-child {
      border-bottom-left-radius:3px;
    }

    tr:last-child td:last-child {
      border-bottom-right-radius:3px;
    }

    .table td {
      padding: 0.5rem 0.5rem;
      background:#FFFFFF;
      text-align:left;
      vertical-align:middle;
      font-weight:300;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
      border-right: 1px solid #C1C3D1;
    }
    td:last-child {
      border-right: 0px;
    }

    th.text-left {
      text-align: left;
    }

    th.text-center {
      text-align: center;
    }

    th.text-right {
      text-align: right;
    }

    td.text-left {
      text-align: left;
    }

    td.text-center {
      text-align: center;
    }

    td.text-right {
      text-align: right;
    }
  }

  .card-footer {

    display: flex;
    justify-content: flex-end;
    padding: 0.75rem 0.75rem;

    i {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    .btn {
      font-size: 13px !important;
      padding: 0.5rem 0.75rem;
    }
  }
}

#kt_photo_modal {

  .modal-dialog {
    max-width: 37.5vw;
    max-height: 85vh;

    .card-body {
      padding: 0.5rem;

      .carousel-inner {
        border-radius: 4px;

        .carousel-item {
          min-height: 35vh;

          img {
            display: flex;
            margin-inline: auto;
            max-height: 70vh;
          }
        }
      }
    }
  }
}

#kt_history_modal {

  .modal-dialog {
    max-height: 85vh;

    .card-body {
      .col-xl-6 {
        display: flex;
        flex-flow: column;
      }

      .col-sm-12 {
        display: flex;
        flex-flow: column;
      }

      .dataTables_wrapper .dataTable {
        margin: 0 0 0.5rem 0 !important;
      }

      .dataTables_length {
        display: none;
      }

      .table {

        th {
          //white-space: nowrap;
          font-weight: bolder;
          padding: 0.5rem 0.5rem;
        }

        td {
          //white-space: nowrap;
          font-size: small;
          padding: 0.5rem 0.25rem;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
        }
      }

      #kt_history_modal_details {
        flex: auto;
        white-space: pre-wrap;
        justify-content: flex-start;
      }

      .text-muted {
        text-align: center;
      }

      .carousel-item {
        min-height: 50vh;

        img {
          display: flex;
          margin-inline: auto;
          max-height: 70vh;
        }
      }
    }
  }
}

#kt_search_modal {

  max-width: 300px;

  .card-header {
    font-size: 13px !important;
    min-height: 60px;

    .label {
      vertical-align: text-bottom;
    }
  }

  .card-body {
    font-size: 13px !important;
    padding: 0;

    .table th {
      white-space: nowrap;
      overflow: hidden;
      padding: 0.5rem 0.5rem;
    }

    .table td {
      padding: 0.5rem 0.5rem;
    }
  }

  .card-footer {

    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0.75rem;

    i {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    .btn {
      font-size: 13px !important;
      padding: 0.5rem 0.75rem;
    }
  }
}
.btn-style{
  border-radius: 5px;
  border-color: #f7f5f0;
  background-color: white;
}

.btn-style:hover{
  background-color: skyblue;
  transition: 0.7s;
}
