<!--begin::Chat Panel-->
<div class="modal fade" id="kt_photo_modal" role="dialog" data-backdrop="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!--begin::Card-->
      <div class="card card-custom">
        <!--begin::Header-->
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label"></h3>
          </div>
          <div class="card-toolbar">
            <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary" data-dismiss="modal">
              <i class="ki ki-close icon-nm"></i>
            </a>
          </div>
        </div>
        <!--end::Header-->
        <div class="card-body">
          <div
              id="carouselExampleCaptions2"
              class="carousel"
              data-ride="false"
              data-interval="false"
          >
            <div class="carousel-inner">
              <div class="carousel-item">
                <img
                    src="/assets/media/bg/bg-default.png"
                    class="img-fluid"
                    alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <button
                      type="button"
                      class="btn btn-elevate btn-elevate-air"
                      data-skin="dark"
                      data-toggle="kt-tooltip"
                      data-original-title="클릭하여 원본 확인"
                      title="클릭하여 원본 확인"
                      style="background-color:rgba(0,0,0,0.55);color: white"
                  >
                  </button>
                </div>
              </div>
            </div>
            <a
                class="carousel-control-prev"
                href="#carouselExampleCaptions2"
                role="button"
                data-slide="prev"
            >
              <i
                  class="flaticon2-fast-back"
                  aria-hidden="true"
                  style="color: red;font-size: 2rem"
              ></i>
            </a>
            <a
                class="carousel-control-next"
                href="#carouselExampleCaptions2"
                role="button"
                data-slide="next"
            >
              <i
                  class="flaticon2-fast-next"
                  aria-hidden="true"
                  style="color: red;font-size: 2rem"
              ></i>
            </a>
          </div>
        </div>
      </div>
      <!--end::Card-->
    </div>
  </div>
</div>
<!--end::Chat Panel-->
