<!-- Modal-->
<div class="modal fade" id="serv_sche_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: flex-start">
        <h5 class="modal-title" id="exampleModalLabel">현장조사서</h5>
        <!--begin::Dropdown-->
<!--        <div class="dropdown dropdown-inline ml-2">-->
<!--          <button type="button" class="btn btn-light-primary btn-sm font-weight-bolder" data-toggle="dropdown"-->
<!--                  aria-haspopup="true" aria-expanded="false">-->
<!--            <i class="la la-download"></i>내보내기-->
<!--          </button>-->
<!--          <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">-->
<!--            <ul class="navi flex-column navi-hover py-2">-->
<!--              <li class="navi-item">-->
<!--                <a href="#" class="navi-link" id="export_print_schedule">-->
<!--																<span class="navi-icon">-->
<!--																	<i class="la la-print"></i>-->
<!--																</span>-->
<!--                  <span class="navi-text">인쇄</span>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="navi-item">-->
<!--                <a href="#" class="navi-link" id="export_excel_schedule">-->
<!--																<span class="navi-icon">-->
<!--																	<i class="la la-file-excel-o"></i>-->
<!--																</span>-->
<!--                  <span class="navi-text">Excel</span>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
        <!--end::Dropdown-->
        <div class="card-toolbar mr-2" style="position: absolute;right: 0">
          <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary" data-dismiss="modal">
            <i class="ki ki-close icon-nm"></i>
          </a>
        </div>
      </div>
      <div class="modal-body">
        <div data-scroll="true" data-height="625">
          <div class="navbar-nav">
            <div class="nav-item text-nowrap">
              <input type="text" id="pdfFileName" placeholder="Enter PDF file name">
              <button onclick="changePDF()">Change PDF</button>
              <a href="pdfjs-4.0.189-dist/web/viewer.html?file=관리대장_BH35021A0002.pdf">출력</a>
              <br>
              <iframe id="pdfViewer" style="width:100%; height:600px; border:1px solid black;"></iframe>
<!--              <iframe src="pdfjs-4.0.189-dist/web/viewer.html?file=관리대장_BH35021A0001.pdf" style="width:100%; height:600px; border:1px solid black;"></iframe>-->
            </div>
          </div>
          <!--begin: Datatable-->
<!--          <table class="table table-separate table-head-custom table-responsive-xl hover" id="kt_datatable_schedule">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th>기간</th>-->
<!--              <th>업체명</th>-->
<!--              <th>비상근무기간</th>-->
<!--              <th>대표자</th>-->
<!--              <th>연락처(대표)</th>-->
<!--              <th>현장소장</th>-->
<!--              <th>연락처(현장)</th>-->
<!--              <th>비고</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--          </table>-->
          <div id="kt_datatable_schedule_ext"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function changePDF() {
    // Get the input value (PDF file name) entered by the user
    var pdfFileName = document.getElementById("pdfFileName").value;

    // Construct the PDF file URL
    var pdfFileURL = "pdfjs-4.0.189-dist/web/viewer.html?file=survey/" + pdfFileName;

    // Update the src attribute of the iframe
    document.getElementById("pdfViewer").src = pdfFileURL;
  }
</script>
